.preview {
  &.active &__background {
    transform: scale(150);
  }

  &.active &__toggle .toggle-button {
    transform: scale(0);

    &.active {
      transform: scale(1);
    }
  }

  &.active &__video {
    visibility: visible;

    > div {
      opacity: 1;
      transform: translateY(0);
      transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
      transition-delay: 400ms;
    }
  }

  &__toggle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5rem;
    right: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-tertiary);
    transition: all 200ms ease-out;
    z-index: 30;

    &:hover {
      transform: scale(1.5);
    }

    svg {
      position: absolute;
      transform: scale(0);
      transition: all 400ms;

      &.active {
        transform: scale(1);
        transition: transform 400ms;
        transition-delay: 400ms;
      }
    }
  }

  &__background {
    position: fixed;
    bottom: 5.5rem;
    right: 5.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.7);
    transition: transform 800ms ease-out;
    z-index: 29;
  }

  &__video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    max-width: 120rem;
    visibility: hidden;
    transform: translate(-50%, -50%);
    z-index: 30;

    > div {
      opacity: 0;
      transform: translateY(-20%);
      transition: all 400ms;
      transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
      transition-delay: 0ms;
    }
  }
}

// @media (min-width: 1000px) {
//   .preview {
//     display: flex;
//     width: 100%;
//     margin: 1rem 0 0 5rem;
//     border-radius: 5px;
//     background-color: var(--bg-primary);

//     &__toggle,
//     &__background {
//       display: none;
//     }

//     &__video {
//       position: static;
//       width: 100%;
//       max-width: none;
//       visibility: initial;
//       transform: initial;

//       > div {
//         opacity: initial;
//         transform: initial;
//       }
//     }
//   }
// }
