.table {
  overflow-x: auto;

  table {
    width: 100%;
    border-spacing: 0 1rem;
  }

  th {
    border-bottom: 1px solid var(--text-primary);
  }

  th,
  td {
    text-align: center;
    min-width: 15rem;
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2rem;
  }

  &__buttons {
    display: flex;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .table {
    table {
      border-collapse: collapse;
    }

    thead {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--text-primary);

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      display: flex;
      flex-direction: row;
      max-width: initial;
      padding: 1.5rem 2rem;
      gap: 1rem;
      overflow: initial;
      text-overflow: initial;
      text-align: end;
      white-space: initial;
      word-break: break-all;

      &:first-child {
        padding-top: 2rem;
      }

      &:last-child {
        padding-bottom: 2rem;
      }

      &::before {
        content: attr(data-label);
        font-weight: 700;
        margin-right: auto;
        min-width: 15rem;
        text-align: start;
      }
    }
  }
}
