.user-video-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 2rem;

  &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    min-width: 20rem;
    background-color: var(--bg-secondary);
    aspect-ratio: 16/9;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    overflow: hidden;
    text-align: end;
    gap: 1rem;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title {
      font-weight: 500;
    }

    &__tags {
      font-style: italic;

      &::before {
        content: '#';
      }
    }
  }

  svg {
    margin-left: 1rem;
  }
}
