.upload-node {
  width: 100%;

  &.active > &__children {
    width: 90%;
    margin-left: auto;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    font-weight: 500;
    border-radius: 10px;

    > svg {
      position: absolute;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
  }

  &__header {
    display: flex;
    width: 100%;
    height: 2.5rem;
    gap: 1.5rem;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__action {
    display: flex;
    margin-left: auto;
    gap: 1.5rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 200ms ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 2px;

    &--background,
    &--current {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &--background {
      background-color: var(--bg-inversed);
    }

    &--current {
      background-color: var(--accent-primary);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    > * {
      display: flex;
      align-items: center;

      &::before {
        content: attr(data-label);
        margin-right: auto;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      width: 50%;
      gap: 1rem;

      > div {
        margin: 0;
      }

      input {
        text-align: center;
        padding: 0.5rem;
      }
    }

    &__children__status {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__error,
  &__warning {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 2rem;
    border-radius: 10px;
    font-size: 1.7rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

    &__message {
      padding: 0 4rem;
    }

    &__action {
      display: flex;
      gap: 1rem;
    }

    svg {
      width: 4rem;
      height: 4rem;
    }
  }
}
