.form-modal {
  width: 100%;
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--bg-tertiary);

  &__header {
    width: 100%;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
