.user-video-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  > li {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--text-secondary);

    &:last-child {
      border-bottom: none;
    }
  }

  &__empty {
    width: 100%;
    padding: 3rem;
    border-radius: 5px;
    border: 2px solid var(--text-secondary);
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}
