.avatar {
  width: 4rem;
  height: 4rem;

  svg,
  img {
    width: 100%;
    height: 100%;
    fill: none;
    cursor: pointer;
  }

  &.default > svg {
    cursor: initial;

    &:hover {
      opacity: initial;
    }
  }
}
