.video-item {
  position: relative;
  margin-bottom: auto;

  &__thumbnail {
    position: relative;
  }

  &__duration {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(0, 0%, 90%);
  }

  &__history {
    position: absolute;
    top: 100%;
    height: 3px;
    background-color: var(--accent-primary);
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    gap: 2rem;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  &__title {
    width: fit-content;
    margin-right: auto;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__data {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  @media (max-width: 677px) {
    font-size: 90%;

    .avatar {
      width: 3rem !important;
      height: 3rem !important;
      min-width: 3rem !important;
      min-height: 3rem !important;
    }

    &__info {
      padding: 0.75rem 0;
    }

    &__data svg {
      width: 2rem;
      height: 2rem;
    }

    .video-timestamp {
      display: none;
    }
  }
}
