.google-login-button {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__core {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__view {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 1rem;
    border-radius: 5px;
    pointer-events: none;
    background-color: var(--bg-inversed);
    transition: opacity 200ms ease-out;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &:hover:not(.disabled):not(.loading) &__view {
    opacity: 0;
  }

  &.loading &__view {
    background-color: var(--bg-disabled);
  }

  &.disabled &__view {
    cursor: not-allowed;
    color: var(--text-disabled);
    background-color: var(--bg-disabled);
  }

  &.disabled &__core {
    pointer-events: none;
  }

  &.invalid &__view {
    color: var(--text-primary);
    background-color: var(--bg-invalid);
  }
}
