@use '../../VideoPlayer.scss' as *;

.vp-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  color: var(--text-invalid);
  background-color: $vp-bg;

  svg {
    width: 5rem;
    height: 5rem;
  }
}
