.theme-light .menu-button {
  background-color: var(--bg-primary);
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 4.5rem;
  min-height: 4.5rem;
  padding: 1.25rem;
  gap: 0.5rem;
  border-radius: 100px;

  > div {
    width: 100%;
    height: 2px;
    background-color: var(--bg-inversed);
    transition: transform 300ms ease-out;
  }

  &__top {
    transform-origin: left;
  }

  &__center {
    transform-origin: center;
  }

  &__bottom {
    transform-origin: left;
  }

  &.active {
    .menu-button__top {
      transform: rotate(45deg);
      transition-delay: 300ms;
    }

    .menu-button__center {
      transform: scaleX(0);
    }

    .menu-button__bottom {
      transform: rotate(-45deg);
      transition-delay: 300ms;
    }
  }
}
