.channel-loader-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 5rem;
  gap: 2rem;
  background-image: linear-gradient(
    110deg,
    var(--bg-tertiary) 8%,
    #464646 18%,
    var(--bg-tertiary) 33%
  );
  background-size: 200% 500%;
  animation: loading-card 1.5s linear infinite;

  &__avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-width: 12rem;
    padding: 1rem;
    gap: 1.5rem;
  }

  &__title {
    width: 100%;
    height: 1.5rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
  }

  &__description {
    width: 70%;
    height: 1.5rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
  }

  &__button {
    display: none;
    width: 100%;
    height: 1.5rem;
    margin-top: 3rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
  }

  &.column {
    flex-direction: column;

    .channel-loader-item__detail {
      width: 50%;
      margin-top: 1rem;
    }

    .channel-loader-item__button {
      display: block;
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;

    &__detail {
      width: 50%;
      margin-top: 1rem;
    }

    &__button {
      display: block;
    }
  }
}
