.created-video-list {
  &__container,
  &__loader {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 3rem 2rem;
  }

  &__empty {
    width: 100%;
    padding: 3rem;
    border-radius: 5px;
    border: 2px solid var(--text-secondary);
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}
