.channel-loader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3rem 5rem;
  gap: 2rem;
  background-image: linear-gradient(
    110deg,
    var(--bg-tertiary) 8%,
    #464646 18%,
    var(--bg-tertiary) 33%
  );
  background-size: 200% 100%;
  animation: loading-card 1.5s linear infinite;

  &__avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 1rem;
    gap: 1.5rem;
  }

  &__title {
    width: 90%;
    height: 1.5rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
  }

  &__description {
    width: 60%;
    height: 1.5rem;
    border-radius: 50px;
    background-color: var(--bg-secondary);
  }
}
