.video-favorites {
  display: flex;
  gap: 0.5rem;
  pointer-events: none;

  svg {
    margin: 0;
  }

  span {
    display: flex;
    align-items: center;
  }

  &.button {
    pointer-events: initial;
  }

  &.active {
    svg {
      fill: #e8e6e3;
      stroke: none;
    }
  }
}
