.channel-list {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 3rem 2rem;
  }

  &__label {
    width: fit-content;
    margin-bottom: 2rem;

    &.loading {
      width: 45%;
      border-radius: 5px;
      color: transparent;
      background-color: var(--bg-tertiary);
    }
  }

  &__empty {
    width: 100%;
    padding: 3rem;
    border-radius: 5px;
    border: 2px solid var(--text-secondary);
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}
