.account-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(40rem, 60%, 80rem);
  padding: 2rem;
  margin: auto;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
}
