.video-group {
  &__label {
    width: fit-content;
    margin-bottom: 2rem;

    &.loading {
      width: 40%;
      height: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 5px;
      color: transparent;
      background-color: var(--bg-secondary);
    }

    a {
      font-weight: bold;
    }
  }

  &__loader {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__slider {
    overflow: visible;
  }

  // .video-item__title {
  //   line-clamp: 1;
  //   -webkit-line-clamp: 1;
  // }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
    .swiper-button-disabled {
      opacity: 0.4;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: initial;
    bottom: 100%;
    color: var(--text-primary);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
    &:not(.swiper-button-disabled):hover {
      opacity: 0.7;
    }
  }

  .swiper-button-prev {
    left: initial;
    right: 4rem;
  }

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 1113px) {
    &__loader {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
