.video-group {
  &__label {
    width: fit-content;
    margin-bottom: 2rem;

    &.loading {
      width: 45%;
      border-radius: 5px;
      color: transparent;
      background-color: var(--bg-secondary);
    }

    a {
      font-weight: bold;
    }
  }

  &__loader {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 677px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
