.video-group {
  &__label {
    width: fit-content;
    margin-bottom: 1rem;

    &.loading {
      width: 40%;
      height: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 5px;
      color: transparent;
      background-color: var(--bg-secondary);
    }

    a {
      font-weight: bold;
    }
  }

  &__slider {
    padding: 1rem 0;
  }

  &__loader {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 2rem;
  }

  .video-item__title {
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  @media (max-width: 1113px) {
    &__loader {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
