.global-message-item {
  margin-left: auto;
  transform-origin: right;
  transition: all 300ms;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 1rem;

    svg {
      width: 2rem;
      height: 2rem;
      min-width: 2rem;
      min-height: 2rem;
    }
  }

  &__timer {
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
    animation: message-timer 1s ease-out;
  }

  &.message {
    background-color: var(--bg-success);
  }

  &.error {
    background-color: var(--bg-invalid);
  }

  // CSS Transition

  &-enter {
    transform: translateX(10%);
    opacity: 0;

    &-active {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &-exit {
    transform: translateX(0);
    opacity: 1;

    &-active {
      transform: translateX(10%);
      opacity: 0;
    }
  }
}

@keyframes message-timer {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
