.swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1;
  }
  .swiper-button-disabled {
    opacity: 0.7;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 4rem;
  height: 6rem;
  background-color: transparent;
  color: hsl(0, 0%, 90%);
  opacity: 0;
  transition: background-color 200ms ease-out, opacity 200ms ease-out;

  &::after {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  &:hover {
    background-color: rgba(hsl(0, 0%, 0%), 0.5);
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: initial;
  }
}

.swiper-button-prev {
  left: 0;
  padding-right: 0.5rem;
}

.swiper-button-next {
  right: 0;
  padding-left: 0.5rem;
}

.swiper-pagination {
  padding: 1rem;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--bg-secondary);
  opacity: 1;
  transition: opacity 200ms ease-out;

  &:hover {
    opacity: 0.7;
  }
}

.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 90%);
}
