@use '../../../VideoPlayer' as *;

.vp-controls__volume {
  position: relative;
  display: flex;
  align-items: center;

  &:hover svg {
    transform: translateX(clamp(-6rem, -50%, -3rem)) scale(1.3) !important;
  }

  &:hover &__range {
    transform: scaleX(1);
  }

  &__range {
    @include vp-range($vp-text);
    position: absolute;
    left: 50%;
    width: clamp(6rem, 40%, 10rem);
    height: 6rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-out;
  }
}
