@use '../../VideoPlayer' as *;

.vp-selector {
  position: absolute;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
  height: clamp(8rem, 30%, 15rem);
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease-out;
  z-index: 15;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-30%);
  }

  &.high {
    transform: translateY(-100%);
  }

  &__btn {
    width: 40%;
    height: clamp(4rem, 30%, 10rem);
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: clamp(1.2rem, 1vw, 1.7rem);
    color: $vp-text;
    background-color: rgba($color: $vp-bg, $alpha: 0.8);
    transition: all 200ms ease-out;
  }

  &__btn:hover {
    background-color: #333333;
  }
}
