@use '../../VideoPlayer' as *;

.vp-selector {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: clamp(8rem, 30%, 15rem);
  gap: clamp(1rem, 2vw, 3rem);
  opacity: 0;
  visibility: hidden;
  transform: translateY(clamp(8rem, 30%, 15rem));
  transition: all 400ms ease-out;
  z-index: 15;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.high {
    transform: translateY(0%);
  }

  &__container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-end;
    gap: 2rem;
  }

  &__btn {
    width: 40%;
    padding: 1.5rem;
    border: 1px solid $vp-bg--tertiary;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: clamp(1.2rem, 1vw, 1.7rem);
    color: $vp-text;
    background-color: rgba($vp-bg, 0.8);
    transition: all 200ms ease-out;

    &:hover {
      background-color: $vp-bg--tertiary;
    }
  }

  &__timer {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 600;
    text-align: center;
    text-shadow: 0.1rem 0 black, 0 0.1rem black, -0.1rem 0 black,
      0 -0.1rem black, -0.1rem -0.1rem black, -0.1rem 0.1rem black,
      0.1rem -0.1rem black, 0.1rem 0.1rem black;
    opacity: 0;
    transition: opacity 300ms ease-out;

    &.active {
      opacity: 1;
    }
  }
}
