.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 40%;
  left: 50%;
  width: 80%;
  max-width: 80rem;
  transform: translate(-50%, -50%);
  z-index: 150;

  &__backdrop {
    z-index: 149;
  }

  /* CSS Transition */

  &-enter {
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: all 300ms;

    &-active {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &-exit {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 300ms;

    &-active {
      transform: translate(-50%, -80%);
      opacity: 0;
    }
  }
}
