.video-loader-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (max-width: 677px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
