@use '../../../VideoPlayer' as *;

.vp-controls__mark {
  > * {
    position: relative;
    transition: transform 200ms;
  }

  &.active > *::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: clamp(0.5rem, 20%, 0.75rem);
    height: clamp(0.5rem, 20%, 0.75rem);
    border-radius: 50px;
    background-color: $vp-accent--primary;
  }
}
