.vp-navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  bottom: -4rem;
  z-index: 10;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
