.video-carousel {
  &__container {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
  }

  &__list {
    display: flex;
    height: 100%;
    transition: transform 500ms ease-out;
  }

  &__item {
    height: 100%;
    // aspect-ratio: 16/9;
  }

  &__arrow {
    position: absolute;
    display: flex;
    top: 50%;
    padding: 2rem 1rem;
    background-color: transparent;
    cursor: pointer;
    transform: translateY(-50%);
    transition: background-color 200ms ease-out;

    &.left {
      left: 0;
      padding-left: 0.5rem;
    }

    &.right {
      right: 0;
      padding-right: 0.5rem;
    }

    svg {
      pointer-events: none;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  &__navigation {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 1rem;

    &__list {
      display: flex;
      margin: auto;
      gap: 1rem;
    }

    &__item {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50px;
      background-color: var(--bg-inversed);

      &.active {
        background-color: var(--bg-secondary);
      }
    }
  }
}

@media (max-width: 700px) {
  .video-carousel {
    display: none;
  }
}
