.menu {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-primary);
  z-index: 110;

  @media (min-width: 1000px) {
    bottom: initial;
    left: initial;
    width: 50rem;
    height: 100vh;
    border-left: 2px solid var(--text-secondary);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
    font-size: 2rem;

    > li {
      opacity: 0;
      transform: translateX(100%);
      animation: menu-list 300ms ease-out forwards;
      animation-delay: 300ms;

      @media (min-width: 1000px) {
        animation: none;
        opacity: initial;
        transform: initial;
      }
    }

    > li:nth-child(1) {
      animation-delay: 200ms;
    }

    > li:nth-child(2) {
      animation-delay: 300ms;
    }

    > li:nth-child(3) {
      animation-delay: 400ms;
    }

    > li:nth-child(4) {
      animation-delay: 500ms;
    }

    > li:nth-child(5) {
      animation-delay: 600ms;
    }
  }

  /* CSS Transition */

  &-enter {
    transform: translateX(100%);
    transition: all 300ms;

    &-active {
      transform: translateX(0%);
    }
  }

  &-exit {
    transform: translateX(0%);
    transition: all 300ms;

    &-active {
      transform: translateX(100%);
    }
  }
}

@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
