.drag-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-out;

  &:hover {
    opacity: 0.7;
  }

  &.invalid,
  &.invalid svg {
    color: #ff0000;
    border-color: #ff0000;
    fill: #ff0000;
  }

  &.dragging {
    opacity: 0.5;

    * {
      pointer-events: none;
    }
  }

  svg {
    width: 7rem;
    height: 7rem;

    &:hover {
      opacity: 1;
    }
  }
}
