.drag-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-out;

  &:hover {
    opacity: 0.7;
  }

  &.invalid,
  &.invalid svg {
    color: var(--text-invalid);
    border-color: var(--text-invalid);
  }

  &.dragging {
    opacity: 0.5;

    * {
      pointer-events: none;
    }
  }
}
