.user-video-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 2rem;

  &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    min-width: 23rem;
    margin-bottom: auto;
    background-color: var(--bg-secondary);
    aspect-ratio: 16/9;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 60%;
    margin-left: auto;
    overflow: hidden;
    text-align: end;
    gap: 1rem;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title {
      font-weight: 500;
    }

    &__tags {
      font-style: italic;
    }
  }

  &__editing {
    position: absolute;
    top: 0;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: var(--bg-tertiary);
  }

  svg {
    margin-left: 1rem;
  }
}
