.user-video-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 2rem;

  &__thumbnail {
    width: 40rem;
    min-width: 23rem;
    margin-bottom: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 60%;
    margin-left: auto;
    overflow: hidden;
    text-align: end;
    gap: 1rem;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title {
      font-weight: 500;
    }

    &__tags {
      font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    svg {
      margin: 0;
    }
  }

  &__editing {
    position: absolute;
    top: 0;
    padding: 1rem 3rem 1rem 1.5rem;
    font-size: 1.3rem;
    background-color: var(--bg-secondary);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  }
}
