$vp-bg: #000000;
$vp-text: #ffffff;
$vp-accent--primary: var(--accent-primary);
$vp-accent--secondary: var(--accent-secondary);
$vp-range--background: #858585;
$vp-range--timeline: #ececec;

@mixin vp-range($color) {
  position: relative;
  display: flex;
  align-items: center;

  &--background {
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: $vp-range--background;
  }

  &--buffer {
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: $vp-accent--secondary;
  }

  &--current {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: $color;

    &__thumb {
      position: absolute;
      right: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50px;
      background-color: $color;
      transform: translateX(50%) scale(0);
      transition: transform 200ms ease-out;
    }
  }

  &--timeline {
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: $vp-range--timeline;
  }

  &--seek {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1rem;
      height: 1rem;
      transform: scale(0);
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      width: 1rem;
      height: 1rem;
      transform: scale(0);
    }
  }

  &:hover &--current__thumb {
    transform: translateX(50%) scale(1);
  }
}

.vp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $vp-bg;
  outline: none;

  video {
    position: relative;
    z-index: 1;
  }
}

.vp-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -1px;
  right: -1px;
  bottom: -1px;
  height: 30%;
  max-height: 25rem;
  padding-bottom: 1rem;
  transition: all 300ms ease-out;
  z-index: 10;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &__background {
    position: absolute;
    top: -50%;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-image: linear-gradient(transparent, $vp-bg);
    z-index: -1;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(3rem, 100%, 5rem);
    margin-top: auto;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

    > div {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      aspect-ratio: 1/1;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    background-color: transparent;
    transform: scale(1);
    transition: all 200ms ease-out;
    aspect-ratio: 1/1;

    svg {
      width: initial;
      min-width: 2.5rem;
      height: 50%;
      min-height: 2.5rem;
      margin: 0;
      aspect-ratio: 1/1;
    }

    &:hover {
      transform: scale(1.5);

      svg {
        opacity: 1;
      }
    }
  }

  &__playback svg {
    transform: scale(2);
  }

  &__volume {
    position: relative;
    display: flex;
    align-items: center;

    &:hover button {
      transform: translateX(clamp(-6rem, -50%, -3rem)) scale(1.5);
    }

    &:hover &__range {
      transform: scaleX(1);
    }

    &__range {
      @include vp-range($vp-text);
      position: absolute;
      left: 50%;
      width: clamp(6rem, 30%, 15rem);
      height: 6rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 200ms ease-out;
    }
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 100%;

    &__range {
      @include vp-range($vp-accent--primary);
      width: 100%;
      height: 100%;
    }

    &__tooltip {
      position: absolute;
      top: -3rem;
      font-size: 1.2rem;
      padding: 0.3rem;
      font-weight: 700;
      color: $vp-text;
      background-color: rgba($color: $vp-bg, $alpha: 0.8);
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%);
      transition-property: opacity, visibility;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    &:hover &__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__time {
    width: clamp(6rem, 10%, 15rem);
    padding: 1rem;
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    color: $vp-text;
    text-align: center;
  }
}

.vp-selector {
  position: absolute;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  max-height: 25rem;
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease-out;
  z-index: 15;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-30%);
  }

  &.high {
    transform: translateY(-100%);
  }

  &__btn {
    width: 40%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: clamp(1.2rem, 1vw, 1.7rem);
    color: $vp-text;
    background-color: rgba($color: $vp-bg, $alpha: 0.8);
    transition: background-color 200ms ease-out;
  }

  &__btn:hover {
    background-color: $vp-bg;
  }
}

.vp-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $vp-bg, $alpha: 0.5);
  z-index: 30;

  div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 2px 2px 0 0 $vp-accent--primary;
    transform-origin: 2rem;
    animation: vp-loader 1s linear infinite;
  }

  @keyframes vp-loader {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.vp-key-action {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__volume {
    position: absolute;
    top: -1px;
    bottom: 50%;
    left: -1px;
    right: -1px;
    background-image: linear-gradient(
      rgba($color: $vp-bg, $alpha: 0.7),
      transparent
    );
    transition: opacity 300ms ease-out;
    z-index: 15;

    &__container {
      display: flex;
      margin: auto;
      gap: 1rem;
      width: clamp(13rem, 25%, 50rem);
      height: clamp(3rem, 20%, 8rem);
      transform: translateY(100%);
      transition: all 300ms ease-out;
    }

    &__icon {
      position: relative;
      height: 100%;
      aspect-ratio: 1/1;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__range {
      @include vp-range($vp-text);
      width: 100%;
      height: 100%;

      &--background,
      &--current {
        height: 20%;
        transition: width 200ms ease-out;
      }
    }

    /* CSS Transition */

    &-enter {
      opacity: 0;

      > div {
        opacity: 0;
        transform: translateY(0);
      }

      &-active {
        opacity: 1;

        > div {
          opacity: 1;
          transform: translateY(100%);
        }
      }
    }

    &-exit {
      opacity: 1;

      > div {
        opacity: 1;
        transform: translateY(100%);
      }

      &-active {
        opacity: 0;

        > div {
          opacity: 0;
          transform: translateY(0);
        }
      }
    }
  }

  &__skip {
    position: absolute;
    display: none;
    top: -1px;
    bottom: -1px;
    justify-content: center;
    align-items: center;
    z-index: 15;

    &.rewind {
      left: -1px;
      right: 50%;
      background-image: linear-gradient(
        to left,
        transparent,
        rgba($color: $vp-bg, $alpha: 0.7)
      );
    }

    &.forward {
      left: 50%;
      right: -1px;
      background-image: linear-gradient(
        to right,
        transparent,
        rgba($color: $vp-bg, $alpha: 0.7)
      );
    }

    svg {
      width: initial;
      height: clamp(5rem, 20%, 15rem);
      margin: auto;
    }
  }

  svg {
    pointer-events: none;
    aspect-ratio: 1/1;
  }
}

.vp-navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  bottom: -4rem;
  z-index: 10;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
