.upload-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 3rem 4rem;
  margin-top: 1rem;
  gap: 3rem;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--bg-tertiary);

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__tag {
    form {
      position: relative;
    }

    &--input svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: all 200ms ease-out;
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem;
      gap: 1rem;

      div {
        position: relative;
        padding: 1rem 2rem;
        background-color: var(--bg-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: hsla(0, 0%, 0%, 0.7);
          opacity: 0;
          transition: opacity 200ms ease-out;
        }

        &:hover {
          svg,
          &::before {
            opacity: 1;
          }
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        color: hsl(0, 0%, 90%);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 200ms ease-out;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 3rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    div {
      display: flex;
      align-items: center;

      &::before {
        content: attr(data-label);
        margin-right: auto;
      }
    }
  }

  &__buttons {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: auto;
    gap: 1rem;
    border-radius: 5px;
  }

  &__save {
    min-width: 2rem;
    min-height: 2rem;
  }
}

// @media (max-width: 700px) {
//   .upload-dashboard {
//     flex-direction: column;

//     &__header,
//     &__body {
//       width: 100%;
//     }

//     &__info {
//       margin: auto 0;
//     }
//   }
// }
