.upload-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  padding: 1rem;
  margin: auto;
  gap: 2rem;

  &__group {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 2rem;
  }
}
